.cer_container
{
 display: block;
 align-items: center;
 justify-content: center;
 margin-top: 60px;
 
 

}
.cer{
    padding: 0;
}
.cer img{
    margin-top: 20px;
    width: 97vw;
    border-radius: 20px;
    height: 560px;
    
}
@media(max-width:768px) {
    .cer img{
    margin-top: 20px;
    width:98vw;
    height: auto;
    
}
    
}